<mat-form-field appearance="fill">
  <mat-label>Choose a category</mat-label>
  <mat-select>
    <mat-option *ngFor="let i of itemsFromAPI" value="i" (click)="OnClick(i.attributes.Name)">{{i.attributes.Name}}</mat-option>
  </mat-select>
</mat-form-field>
