<mat-toolbar class="max-w-full mx-auto justify-between flex">
  <a routerLink="home">My Blog</a>
  <button>
    <mat-icon [matMenuTriggerFor]="menu"
      style="font-size: 50px; margin-right: 20px; margin-top: 5px;">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu style="width: 300px;">
  <button *ngIf="!LoggedIn()" mat-menu-item routerLink="/login">Login</button>
  <button *ngIf="!LoggedIn()" mat-menu-item routerLink="/register">Register</button>
  <button *ngIf="LoggedIn()" mat-menu-item routerLink="" (click)="Logout()">Logout</button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="" (click)="openDialog()">Create new post</button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="unpublished-posts">Unpublished posts</button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="categories">Categories</button>
</mat-menu>
