<h2 mat-dialog-title style="text-align: center;">Create new post</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="input">
    <mat-label>Title</mat-label>
    <input matInput required placeholder="Enter post title" #title>
  </mat-form-field><br>

  <editor [init]="editorConfig" [(ngModel)]="html" class="input"></editor>

  <mat-card class="input">
    <mat-card-content>
      <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input #imageInput type="file" accept="image/*" (change)="getImage($event)">
      </label>
      <button *ngIf="image" mat-mini-fab color="primary" class="upload-btn" (click)="upload()">
        <mat-icon>upload</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="input">
    <mat-card-content>
      <span>Select File</span>
      <input type="file" class="file-input" (change)="getFile($event)">
      <button *ngIf="file" mat-mini-fab color="primary" class="upload-btn" (click)="upload()">
        <mat-icon>upload</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Choose a category</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let i of itemsFromAPI" value="i" (click)="getCategotyId(i)">{{i.attributes.Name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial (click)="getInput(title.value)"
    color="primary">Create post</button>
</mat-dialog-actions>
