<div *ngIf="categories">
  <div *ngFor="let category of categories">
    <p style="margin: 50px; font-weight: bold;">{{category.attributes.Name}}</p>
  </div>
</div>
<mat-spinner class="wait-spinner-page" *ngIf="spinnerSpinning"></mat-spinner>
