<mat-card class="mat-card" (keyup.enter)="login(email.value,password.value)">
  <h2 style="text-align: center; margin-top: 20px;">LOGIN</h2>
  <form>
    <mat-form-field class="mat-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" #email
        placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-field2">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required
        #password>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="!password.value">Enter your password</mat-hint>
    </mat-form-field>
  </form>

  <button mat-raised-button class="login-button" (click)="login(email.value,password.value)">LOG IN</button>
  <p class="klasa">Not a member? <a routerLink="/register" style="font-weight: bold">Register here</a></p>
</mat-card>
