.example-card {
  max-width: 1000px;
  height: 700px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.mat-card-image{
  width: 700px !important;
  height: 400px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
