<mat-drawer-container autosize="true" class="min-h-full max-w-full mx-auto">
  <mat-drawer mode="side" opened class="p-12">
    <app-filter (showCategory)="onShowCategory($event)"></app-filter>
  </mat-drawer>
  <mat-card class="example-card" *ngFor="let i of res">
    <mat-card-header>
      <mat-card-title>{{i.attributes.Title}}</mat-card-title><br>
      <mat-chip-list>
        <mat-chip *ngFor="let category of i.attributes.categories.data">
          {{category.attributes.Name}}
        </mat-chip>
      </mat-chip-list>
      <mat-card-subtitle>{{i.attributes.publishedAt | date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://localhost:1337{{i.attributes.Image.data.attributes.url}}" alt="Photo">
    <mat-card-content>
      <p class="truncate hover:whitespace-normal">{{i.attributes.Description | slice:0:400}}...</p>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>
