.example-card {
  max-width: 810px;
  height: 700px;
  padding: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image{
  margin-top: 10px;
  height: 450px;
  width: 700px;
  margin-left: 10px;
}

.no-posts{
  text-align: center;
  padding: 300px 0;
}
