<div *ngIf="res">
  <mat-card class="example-card" *ngFor="let i of res">
    <mat-card-header>
      <mat-card-title>{{i.attributes.Title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://localhost:1337{{i.attributes.Image.data.attributes.url}}" alt="Photo" class="image">
    <mat-card-content>
      <p class="truncate hover:whitespace-normal">{{i.attributes.Description | slice:0:400}}...</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deletePost(i)">DELETE</button>
      <button mat-raised-button (click)="getPostId(i)">ALLOW</button>
    </mat-card-actions>
  </mat-card>
</div>

<h2 class="no-posts" *ngIf="res.length === 0">No new posts!</h2>
