<mat-card class="mat-card">
  <h2 style="text-align: center; margin-top: 20px;">REGISTER</h2>
  <form>
    <mat-form-field class="mat-username">
      <mat-label>Username</mat-label>
      <input matInput required #username>
      <mat-hint>Enter your username</mat-hint>
    </mat-form-field>
    <mat-form-field class="mat-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" #email
        placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-field">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required #password>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="!password.value">Enter your password</mat-hint>
    </mat-form-field>
  </form>

  <button mat-raised-button class="login-button" (click)="register(username.value,email.value,password.value)">REGISTER</button>
  <p class="klasa">Already a member? <a routerLink="/login" style="font-weight: bold;">Login here</a></p>
</mat-card>
