.mat-card {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-top: 50px;
}

.mat-field{
  margin-top: 20px;
  margin-left: 50px;
  width: 80%;
}

.login-button{
  margin-top: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
}

.klasa{
  position: absolute;
  margin-top: 190px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mat-username{
  margin-top: 20px;
  margin-left: 50px;
  width: 80%;
}
